@charset "utf-8";
@import url('bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px;
    color: #3a3a3a;
    font-weight: 400;
    background-color: #EEEEEE;
    /* overflow-x: hidden; */
}

* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clr,
.clear {
    clear: both;
}

header,
footer,
aside,
article,
section,
detail,
nav,
figure {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none !important;
    outline: none;
}

img {
    border: 0;
    outline: none;
    max-width: 100%;
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="button"] {
    max-width: 100%;
}

table {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

.fltL {
    float: left;
}

.fltR {
    float: right;
}

.padding_none {
    padding: 0 !important;
}

.border_none {
    border: none !important
}

.navbar-toggle {
    background-color: #fff !important;
}

.icon-bar {
    background-color: #000 !important;
}

.p_right0 {
    padding-right: 0px !important
}

.p_left0 {
    padding-left: 0px !important
}

input[type="date"] {
    text-transform: uppercase !important;
}

.Flex {
    display: flex;
}

.Green {
    color: #37a713;
}

.Red {
    color: #e21818;
}

.Blue {
    color: #139bbf;
}

.Yellow {
    color: #feca05;
}

.fixed_header {
    background: #EEEEEE !important;
    box-shadow: 2px 2px 4px #e1834961;
    /* padding: 15px 0 0px 0; */
    transition: all 0.3s;
    z-index: 999;
}
.fixed_header .navbar-header a span {
    display: block;
    padding-top: 8px;
}

.Button {
    border: none;
    padding: 8px 38px;
    text-align: center;
    transition: 0.5s all ease-in-out;
    font-weight: 500;
    display: inline-block;
    position: relative;
    background-color: #E18349;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .5px;
    border-radius: 0;
    outline: 0;
    border: 1px solid #E18349;
}

.Button:hover {
    background-color: #fff;
    color: #E18349;
}

.LoginArea {
    /* background-color: #01bcfd;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(
-45deg
, #FFA46C, #01bcfd, #23a6d5, #23d5ab); */
background: linear-gradient( 
    -45deg
     , #ffa46c2e, #01bcfd33, #23a6d540, #23d5ab4d);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.LoginArea .LoginBox {
    background-color: transparent;
    padding: 35px;
    max-width: 500px;
    margin: auto;
    width: 95%;
    position: relative;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 38%);
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 38%);
}

.LoginArea .LoginBox figure .logoMainImg {
    width: 206px;
    margin: 0 auto 20px;
    height: 112px;
    overflow: hidden;
}
.LoginArea .LoginBox figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.LoginArea .LoginBox h5 {
    text-align: center;
    margin: 0 0 7px;
    font-size: 23px;
    font-weight: 600;
    color: #000;
}

.LoginArea .LoginBox h6 {
    text-align: center;
    margin: 0 0 30px;
    font-size: 13px;
    color: #565656;
    font-weight: 500;
    line-height: 19px;
}

.LoginArea .LoginBox .form-group {
    position: relative;
    margin: 0 0 50px 0;
}

.LoginArea .LoginBox .form-group label {
    font-weight: 400;
    color: #17222c;
    font-size: 14px;
    display: block;
    font-family: Roboto;
}

.LoginArea .LoginBox .form-group label sup {
    color: #cc0909;
    font-size: 18px;
    top: -2px;
}

.LoginArea .LoginBox .form-group .form-control {
    box-shadow: none;
    border: 0ch;
    border-bottom: 1px solid #000;
    border-radius: 0;
    height: 40px;
    padding: 0;
    padding-right: 50px;
    color: #000;
    font-size: 14px;
    background: transparent;
}
.LoginArea  ::-webkit-input-placeholder { color:#555 !important; }

.LoginArea .LoginBox .form-group .Icon {
    width: 34px;
    height: 34px;
    background-color: #d4d4d4;
    text-align: center;
    line-height: 34px;
    border-radius: 4px;
    position: absolute;
    left: 4px;
    z-index: 100;
    top: 28px;
    color: #000;
}

.LoginArea .LoginBox .Checkboxs {
    margin: 0 0 20px 0;
    font-family: Roboto
}

.LoginArea .LoginBox .Checkboxs a {
    color: #d42929;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0;
    float: right;
    border-bottom: 1px solid;
}

.LoginArea .LoginBox .Checkboxs a:hover {
    color: #000;
}

.LoginArea .LoginBox button,
.LoginArea .LoginBox a.Login {
    border: none;
    padding: 10px 40px;
    text-align: center;
    transition: 0.5s all ease-in-out;
    font-weight: 500;
    display: block;
    position: relative;
    background-color:#E18349;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .5px;
    width: 100%;
    margin-top:  50px;
    /* border-radius:50px */
}

.LoginArea .LoginBox button:hover,
.LoginArea .LoginBox a.Login:hover {
    background-color: #E18349;
}

.CheckBox {
    display: inline-block;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    color: #2d2d2d;
    margin: 0;
    min-height: 20px;
}

.CheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.CheckBox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 24px;
    background-color: transparent;
    border: 1px solid #E18349;
    border-radius: 2px;
}

.CheckBox:hover input~.checkmark {
    background-color: #E18349;
    border-color: #01bcfd;
}

.CheckBox input:checked~.checkmark {
    background-color: #E18349;
}

.CheckBox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 2px;
    width: 5px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

.CheckBox input:checked~.checkmark:after {
    display: block
}
.IconEye {
    position: absolute;
    top: 11px;
    right: 15px;
}

.Header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #EEEEEE;
    z-index: 99
}

.SidenavBar .Logo {
    text-align: center;
    border-bottom: 1px solid #fff;
    display: block;
    margin: 0 20px 10px;
}
.SidenavBar .Logo a{
    display: block;
    width: 120px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
}

.SidenavBar .Logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Header .Navigation {
    transition: all 0.2s ease;
    margin-left: 250px;
    padding: 7px 3.2rem;
    /* width: calc(100% - 235px); */
    text-align: right;
    height: 76px;
}

.Header .Navigation .Avater {
    margin: 15px 0 5px 30px;
    position: relative;
    display: inline-block
}

.Header .Navigation .Avater a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000
}

.Header .Navigation .Avater a figure {
    width: 35px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    overflow: hidden
}

.Header .Navigation .Avater ul {
    right: 0;
    left: auto;
    top: 100px;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
    position: absolute;
    box-shadow: 0 1px 4px #ddd;
    background-color: #fff
}

.Header .Navigation .Avater ul li {
    margin: 0;
    border-bottom: 1px solid #d2d3d4
}

.Header .Navigation .Avater ul li:first-child {
    background-image: linear-gradient(45deg, #05899b, #E18349);
    position: relative;
    padding: 15px 10px 15px 60px;
    text-align: left;
    border-bottom: 1px solid #fff
}

.Header .Navigation .Avater ul li figure {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 2px solid #fff;
    overflow: hidden
}

.Header .Navigation .Avater ul li h4 {
    color: #fff;
    font-size: 17px;
    line-height: 18px
}

.Header .Navigation .Avater ul li h4 span {
    font-size: 11px;
    font-weight: 400
}

.Header .Navigation .Avater ul li a {
    color: #4e4e4e;
    padding: 10px 20px;
    font-weight: 400;
    transition: 0.5s all ease-in-out
}

.Header .Navigation .Avater ul li a span {
    margin: 0 10px 0 0
}

.Header .Navigation .Avater ul li a:hover {
    background-color: #E18349;
    color: #fff
}

.Header .Navigation .Avater:hover ul {
    opacity: 1;
    visibility: visible;
    top: 115%
}

.Header .Navigation .header-notifications {
    margin: 5px 0 5px 30px;
    position: relative;
    display: inline-block;
    top:5px;
}

.Header .Navigation .header-notifications a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #E18349;
}

.Header .Navigation .header-notifications a figure {
    width: 35px;
    border-radius: 50%;
    margin: 0 15px 0 0;
    overflow: hidden
}

.Header .Navigation .header-notifications .notifications-heading {
    text-align: left;
    padding: 5px 10px;
    font-weight: bold;
    border-bottom: 1px solid #d2d3d4;
}

.Header .Navigation .header-notifications ul {
    right: 0;
    left: auto;
    border-radius: 15px;
    top: 100px;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all ease-in-out;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #fff
}

.Header .Navigation .header-notifications ul li:hover {
    background: #eef;
}

.Header .Navigation .header-notifications ul li {
    margin: 0;
    text-align: left;
    background: #fefefe;
    border-left: 1px solid #d2d3d4;
    border-bottom: 1px solid #d2d3d4;
    min-height: 50px;
}

.Header .Navigation .header-notifications ul li figure {
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    background: #fdebe3;
    color: #E18349;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 5px 0 0 5px;
}

.Header .Navigation .header-notifications ul li small {
    text-align: left;
    padding: 5px;
}

.Header .Navigation .header-notifications ul li p {
    padding: 5px;
    padding-left: 50px;
    text-align: left;
    color: #E18349;
}

.Header .Navigation .header-notifications ul li h4 span {
    font-size: 11px;
    font-weight: 400
}

.Header .Navigation .header-notifications ul li a {
    color: #4e4e4e;
    padding: 10px 20px;
    font-weight: 400;
    transition: 0.5s all ease-in-out
}

.Header .Navigation .header-notifications ul li a span {
    margin: 0 10px 0 0
}

.Header .Navigation .header-notifications ul li a:hover {
    background-color: #58595b;
    color: #fff
}

.Header .Navigation .header-notifications:hover ul {
    opacity: 1;
    visibility: visible;
    top: 115%
}

.SidenavBar {
    height: calc(100% - 0px);
    position: fixed;
    width: 250px;
    /* top: 60px; */
    padding: 0;
    overflow: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    background-color: #272728;
    z-index: 999;
    transition: 0.2s all ease-in-out;
}

.SidenavBar::-webkit-scrollbar-track {
    background: #bbb;
    border-radius: 0
}

.SidenavBar::-webkit-scrollbar-thumb {
    background-color: #E18349;
    border-radius: 0;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

.SidenavBar::-webkit-scrollbar {
    width: 7px;
    border-radius: 0
}

.SidenavBar ul {
    margin: 0
}

.SidenavBar ul li {
    margin: 0;
    padding: 8px 14px 8px 20px;
    transition: 0.2s all ease-in-out;
}

.SidenavBar ul li a {
    display: flex;
    cursor: pointer;
    padding: 8px 20px 8px 12px;
    transition: 0.2s all ease-in-out;
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    text-transform: capitalize;
    position: relative;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.SidenavBar ul li a span {
    font-size: 25px;
    margin-right: 10px;
}

.SidenavBar ul li:nth-child(2) a span {
    margin-right: 25px;
}

.faImg {
    width: 24px !important;
    display: block;
    filter: invert(1);
}
.faImg2{
    /* filter: invert(0); */
    width: 60px !important;
    height: 50px;
}

.SidenavBar ul li.active a,
.SidenavBar ul li a:hover {
    background-color: #E18349;
    color: #fff;
}
.RightArea{
    padding-top: 76px;
    margin-left: 250px;
}
.Title{
    font-size: 24px;
    margin-bottom: 10px;
}
.RightArearBox{
    margin: 20px 30px 50px;
}
.DashboardArea aside{
    /* background: #fff; */
    background-color: #E18349;
    padding: 20px;
    border-radius: 12px;
    transition: all 500ms ease-in-out;
    margin: 1em 0;
    margin-top: 20px;


    overflow: hidden;
}

.DashboardArea aside:hover{ 
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.DashboardArea .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}
.DashboardArea .rotate i {
    color: #fff;
    position: absolute;
    left: 0;
    left: auto;
    /* right: -9px;
    bottom: -1px; */
    right: 5px;
    bottom: 9px;
    display: block;
    -webkit-transform: rotate(
-44deg
);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(
-44deg
);
}

.DashboardArea aside h2{
    font-size: 60px;
    font-weight: 200;
    padding: 30px 0px;
    color: #fff;
}
.DashboardArea aside h4{
    color: #fff;
}





.TableList table {
    border: 1px solid #dcdcdc
}

.TableList table tr:nth-child(odd) {
    background-color: transparent;
}

.TableList table tr:hover {
    /* background: #c7c7c7; */
    background-color: #f2f9ff;
    transition: background-color .3s linear;
}

.TableList table tr th,
.TableList table tr td {
    padding: 10px 10px;
    border: 0;
}

.TableList table tr th {
    background-color: #E18349;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    background-image: url(../images/sorting.png);
    background-repeat: no-repeat;
    background-position: 96% 50%
}

.TableList table tr td {
    font-weight: 500;
    color: #404040;
    vertical-align: middle;
}

.TableList table tr td a:hover {
    color: #000
}

.TableList table tr th:last-child,
.TableList table tr td:last-child {
    text-align: center;
    min-width: 105px
}
.TableList table tr td:last-child {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.TableList table tr td:last-child a {
    color: #545454;
    margin: 0 5px;
    font-size: 14px;
    display: inline-block
}

.TableList table tr td:last-child a:hover {
    color: #000
}

.TableList table tr td figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #00a9a7;
    overflow: hidden
}

.TableList table tr td figure img {
    width: 100%;
    height: 100%
}

.TableList table tr td span {
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
    width: auto;
    display: block;
    text-align: center;
    font-size: 12px
}

.TableList table tr td a.Green {
    color: #37a713;
}

.TableList table tr td a.Red {
    color: #e21818;
}

.TableList table tr td a.Blue {
    color: #139bbf;
}

.TableList table tr td a.Yellow {
    color: #feca05;
}

.TableList table tr td span.green {
    background-color: #37a713
}

.TableList table tr td span.blue {
    background-color: #139bbf
}

.TableList table tr td span.red {
    background-color: #bb0f0f
}

.TableList table tr td span.orange {
    background-color: #df9919;
}
.Pagination {
    margin: 30px 0 0 0
}

.Pagination ul {
    text-align: right
}

.Pagination ul li {
    display: inline-block;
    margin: 0 2px;
    text-align: center
}

.Pagination ul li a {
    padding: 7px 0;
    border: 1px solid #ddd;
    width: 40px;
    height: 36px;
    display: block;
    font-size: 15px;
    color: #656363
}

.Pagination ul li a:hover {
    background-color: #d4d4d4
}

.Pagination ul li.active a {
    border-color: #007cd0;
    background-color: #007cd0;
    color: #fff;
}

.Pagination ul li:first-child a,
.Pagination ul li:last-child a {
    width: auto;
    padding: 7px 20px;
    border-radius: 4px;
}

.DetailsArea {
    box-shadow: 0 1px 4px #ddd;
    padding: 20px;
    margin: 0;
    border-radius: 10px
}
div.dataTables_wrapper div.dataTables_filter label {
    display: none;
}
.bargainTable .dataTables_length{
    /* display: none; */
}
.bargainTable.TableList table {
    border: 0;
}
.bargainTable div.dataTables_wrapper div.dataTables_info{
    /* display: none; */
}
.bargainTable .dataTables_paginate.paging_simple_numbers{
    /* display: none; */
}


.vendorImg img:last-child{
    margin-right: 0;
}
.editBtn{
    padding: 6px 8px;
    width: 56px;
    background-color: transparent;
    color: #ff6100;
}
.editBtn:hover{
    background-color: #ff6100;
    color: #fff !important;
}
.orangeBtn{
    background-color: transparent;
    color: #ff6100 !important;
    border: 1px solid #ff6100;
}
.orangeBtn:hover{
    background-color: #ff6100;
    color: #fff !important;
}

.shoppersArea {
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
}
.shoppersArea img{
    border-radius: 50%;
    width: 60px;
}

.bargainTable {
    margin-top: 40px;
}
/* .bargainTable .dataTables_length{
    display: none;
} */
/* pagination  start*/

.paginate_button {
    min-width: 4rem;
    display: inline-block;
    text-align: center;
    padding: 1rem 1.6rem;
    margin-top: -1rem;
    margin-bottom: 20px;
    color: #ff6100;
    border: 2px solid #ff6100;
  }
  .paginate_button:not(.previous) {
    border-left: none;
  }
  .paginate_button.previous {
    /* border-radius: 8px 0 0 8px; */
    min-width: 7rem;
  }
  .paginate_button.next {
    /* border-radius: 0 8px 8px 0; */
    min-width: 7rem;
  }
  .paginate_button:hover {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
  } 
/* pagination  end*/

.SearchBox {
    margin: -12px 0 0 0;
    /* float: right; */
    display: flex
}

.SearchBox form {
    margin: 0;
    display: -webkit-box;
    display: flex
}

.SearchBox form input,
.SearchBox form select {
    margin: 0 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0;
    outline: 0;
    padding: 0 20px;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.SearchBox form button {
    padding: 7px 30px 9px;
    display: inline-block;
    background-color: #ff6100;
    margin: 0;
    color: #fff;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    font-size: 14px;
    letter-spacing: .5px;
    border: 1px solid #ff6100;
    outline: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.SearchBox form button:hover {
    background-color: #fff;
    color:#ff6100;
}

.SearchBox a {
    background-color: #16212b;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    margin: 0 0 0 20px
}

.SearchBox a:hover {
    background-color: #04bad2
}
.SearchBoxSearch form button{
    padding: 9px 30px 9px;
    margin: 0 -3px;
}
.SearchBoxSearch form {
    margin: 0;
    display: inline-block;
}
.SearchBoxSearch {
    display: inline-flex;
    margin-left: 30px;
}
.SearchBoxSearch form input, .SearchBoxSearch form select{
    width: 160px;
}
.SearchBox2 a{
    background-color: #16212b !important;
    color: #fff !important;
    font-size: 12px !important;
    border-radius: 28px !important;
    font-weight: 400;
    padding: 6px 10px !important;
    margin: 0px !important;
}
.FilterSearch {
    display: inline !important;
    margin-right: 10px;
}
.Filter .form-group {
    margin: 0 15px 20px 0;
    display: inline-block;
}

.Filter .form-group:last-child {
    margin: 0 0 20px 0!important
}

.Filter .form-group label {
    display: block;
    font-weight: 500;
    font-size: 15px
}

.Filter .form-group .form-control {
    height: 40px;
    line-height: 25px;
    padding: 8px 10px;
    border-radius: 0;
    border: 1px solid #ddd;
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 10px 0 0;
    box-shadow: none;
    border-radius: 4px;
}
.enterKey {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bargainTable.TableList table {
    border: 0;
}
.bargainTable div.dataTables_wrapper div.dataTables_info{
    /* display: none; */
}
.bargainTable .dataTables_paginate.paging_simple_numbers{
    /* display: none; */
}

.hideBargain, .hideVendor{
    display: none;
}
.hideBargain li{
    padding-bottom: 0 !important;
}
.hideBargain li a:hover, .hideVendor li a:hover{
    background-color: #ff6100 !important;
    color: #fff !important;
}
.arrowDown i{
    margin-left: 4px;
}
.bargainDetail{
    margin-top: 40px;
}
#thankYou .modal-content, .thankYouModel .modal-content{
    height: 300px;
}
#thankYou .modal-body, .thankYouModel .modal-body {
    text-align: center;
}
#thankYou .customerRight h5, .thankYouModel .customerRight h5{
    font-size: 23px;
    padding: 50px;
    line-height: 37px;
}
#thankYou .closeBtn .apply_btn, .thankYouModel .closeBtn .apply_btn {
    margin-right: 10px;
}
.countryFIlter .form-group:last-child{
 margin-bottom: 0 !important;
}
.bgDarkRed{
    background-color: red;
}
.btns a{
    margin-left: 10px;
}
.GreenActive{
    color: green !important;
}
.RedBlock{
    color: red !important;
}
.btnsVendor{
    display: flex;
    align-items: center;
}
#Suspend .closeBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.vendorImg img{
    width: 35px;
    margin-right: 5px;
}
.vendorImg img:last-child{
    margin-right: 0;
}
.widthAuto{
    width: 71px !important;
}
.apply_btn {
    border-radius:4px;
}
.OrangeBlock{
    color: #F5793D !important;
}
.BlueBlock{
    color: #004aad !important;
}
.widthAuto1{
    width: auto !important;
}
.BankDetails{
    display: block;
}

.bannerBack{
    width: 100%;
    height: 300px;
}
.bannerBack img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bannerImg{
    position: relative;
}
.bannerHead{
    position: absolute;
    width: 210px;
    top: 200px;
    left: 90px;
}
.bannerHead img{
    width: 100%;
    height: 100%;
    border: 1px solid #f4f4f4;
    border-radius: 50%;
    padding: 20px;
    background: #f4f4f4;
}
.dragscroll {
    overflow: auto;
}

.KioskMainBox{
    position: relative;
    background-color: #fff;
    padding: 35px 10px 35px 10px;
    border-radius: 12px;
    transition: all 500ms ease-in-out;
    margin: 1em 0;
    margin-top: 20px;
    overflow: hidden;
    color: #393939;
    box-shadow: 0 0 20px 0 #dadada;
}
.kioskView p{
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-top: 12px;
}
.kioskView p img{
    filter: invert(1);
}
.kioskView p i{
    margin-right: 5px;
}
.kioskRight h3{
    padding-bottom: 5px;
}
.kioskLeft {
    width: 100px;
    height: 100px;
}
.kioskLeftimg{
    width: 100%;
    height: 100%;
}
.kioskView p span{
    font-size: 14px;
    padding: 0 5px;
}
.kioskView p strong{
    font-weight: 500;
}


/* image preview section start  */

.addKisok{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 510px;
  }
  .uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all 0.2s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    height: 250px;
    max-height: 250px;
  }
  .uploader label:hover {
    border-color: #ff6100;
  }
  .uploader label.hover {
    border: 3px solid #ff6100;
    box-shadow: inset 0 0 0 6px #eee;
  }
  .uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3;
  }
  .uploader #start,  .uploader #start1 {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 30px;
  }
  .uploader #start.hidden ,  .uploader #start1.hidden {
    display: none;
  }
  .uploader #start i.fa,   .uploader #start1 i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
  }
  .uploader #response,  .uploader #response1 {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #response.hidden,  .uploader #response1.hidden {
    display: none;
  }
  .uploader #response #messages,   .uploader #response1 #messages {
    margin-bottom: 0.5rem;
  }
  .uploader #file-image, .uploader #file-image1 {
    display: inline;
    margin: 0 auto 0.5rem auto;
    width: auto;
    height: auto;
    max-width: 180px;
  }
  .uploader #file-image.hidden,  .uploader #file-image1.hidden {
    display: none;
  }
  .uploader #notimage,  .uploader #notimage1 {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #notimage.hidden,  .uploader #notimage1.hidden {
    display: none;
  }
  .uploader progress,
  .uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }
  .uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  .uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #ff6100 50%);
    border-radius: 4px;
  }
  .uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #ff6100 50%);
    border-radius: 4px;
  }
  .uploader input[type=file] {
    display: none;
  }
  .uploader div {
    margin: 0 0 0.5rem 0;
    color: #5f6982;
  }
  .uploader .btn {
    display: inline-block;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #ff6100;
    border-color: #ff6100;
    cursor: pointer;
  }

  /* image preview section send  */

.bargainRight label{
    font-size: 18px;
    font-weight: 400;
}
.bargainRight .form-control{
    box-shadow: none;
    padding: 12px 10px;
    height: auto;
    border: 1px solid #e5e5ea;
    background-color: #f7f7fa;
    color: #c5c6c7;
}
.bargainRight{
    margin-bottom: 70px;
}
  .FormsArea .form-control {
    box-shadow: none;
    padding: 12px 10px;
    height: 48px;
    border: 1px solid #e5e5ea;
    background-color: #fff;
    color: #000;
}
.FormsAreaKiosk {
    margin-top: 50px;
}
.denimImg img{
    width: 45px;
}
textarea{
    height: auto !important;
}

.c100 .slice {
    clip: rect(auto, auto, auto, auto);
}
.c100 .fill {
    position: absolute;
    border: 0.08em solid #004aad;
    width: 0.84em;
    height: 0.84em;
    border-radius: 8px;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.c100 .bar:after,
.c100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}
.c100 *,
.c100 *:before,
.c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.c100.big {
    font-size: 240px;
}
.c100 > span {
    position: absolute;
    /* width: 100%; */
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;    stroke-linecap: round;
    /* line-height: 5em; */
    /* font-size: 0.2em; */
    color: #004aad;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.c100:after {
    position: absolute;
    /* top: 0.08em; */
    /* left: 0.08em; */
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    /* width: 0.84em; */
    /* height: 0.84em; */
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}
.c100 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.c100:hover {
    cursor: default;
}

.c100> span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #004aad;
    
}

.c100:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}
.IconSend {
    position: absolute;
    top: 32px;
    right: 29px;
    font-size: 21px;
    color: #3a3a3a;
}


.PasswordArea form {
    padding: 0 30px 0 0;
}

.PasswordArea form .form-group {
    margin: 0 0 25px 0;
    position: relative;
}
.PasswordArea form .form-group a{
    position: absolute;
    top: 36px;
    right: 20px;
}

.PasswordArea form .form-group label {
    font-size: 14px;
    color: #3c3c3c;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Roboto;
    display: block;
}

.PasswordArea form .form-group .form-control {
    margin: 0 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    padding-right: 53px;
}
.signUp .form-group .form-control{
    padding-right: 10px !important;
}
.LoginBox.SignUpBox{
    max-width: 700px;
    margin: 40px 0;
}
.signText{
    position: absolute;
    right: 23px;
    z-index: 9;
}
.signText a{
    font-size: 16px;
    font-family: 'Roboto';
    letter-spacing: 0;
    border-bottom: 1px solid;
    color: #004AAD;
    font-weight: 500;
}
.profileDisable .form-control{
    background-color: #fff;
    color: #c5c6c7;
}

.ModalBox .modal-dialog {
    max-width: 450px;
    margin: 50px auto
}

.ModalBox .modal-dialog .CloseModal {
    position: absolute;
    top: -13px;
    right: -13px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, .5);
    text-align: center;
    color: #000;
    font-size: 15px;
    border-radius: 50%
}

.ModalBox .modal-dialog .Decline {
    margin: 0
}
.ModalBox .modal-dialog .Decline h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 20px;
    text-align: left
}

.ModalBox .modal-dialog .Decline p {
    font-size: 16px;
    font-family: "Roboto";
    color: #777;
    text-align: left
}

.ModalBox .modal-dialog .Decline h4 {
    margin: 15px 0 0 0;
    text-align: right
}
.ModalBox .modal-dialog .Decline h4 a {
    text-transform: capitalize;
    margin: 0 0 0 30px;
    font-size: 17px;
    color: #49a0d5;
    font-weight: 400;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out
}

.ModalBox .modal-dialog .Decline h4 a:hover {
    color: #000
}

.ModalBox .modal-dialog .Category {
    padding: 10px 10px
}

.ModalBox .modal-dialog .Category h3 {
    text-align: center;
    font-weight: 600;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    font-size: 23px
}
.ModalBox .modal-dialog .Category .form-group {
    margin: 0 0 20px;
    position: relative
}

.ModalBox .modal-dialog .Category .form-group label {
    display: block;
    font-weight: 500;
    color: #000;
    font-size: 15px;
    font-family: "Roboto"
}

.ModalBox .modal-dialog .Category .form-group .form-control {
    box-shadow: none;
    border: 1px solid #c3c3c3;
    height: 40px;
    font-size: 14px;
    color: #000;
    line-height: 22px
}

.ModalBox .modal-dialog .Category .form-group textarea.form-control {
    height: auto
}



.ModalBox .modal-dialog .Category button {
    padding: 10px 40px;
    display: inline-block;
    background-color: #16212b;
    margin: 0;
    color: #fff;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    font-size: 15px;
    letter-spacing: .5px;
    border: none;
    outline: 0
}

.ModalBox .modal-dialog .Category button:hover {
    background-color: #04bad2
}

.switch {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: #646467;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: -26px;
    right: 7px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    height: 21px;
    border-radius: 50px;
    width: 40px;
    border: 1px solid #ff6100;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 0;
    top: 0;
    background-color: #ff6100;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
    margin: auto
}

.switch input:checked+.slider {
    background-color: #ff6100
}

.switch input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    transform: translateX(19px);
    background-color: #fff
}
.pl-10{
    padding-left: 10px;
}
.pl-0{
    padding-left: 0;
}